<h1><%= movieTitle %> (<%= movieYear %>)</h1>

<img class="movie-poster" src="<%= posterUrl %>" alt="Movie poster for <%= movieTitle %>"/>

<p>Released on: <span class="release-date"><%= releaseDate %></span></p>
